# Dependency directories
node_modules/

# Debug log from npm
npm-debug.log*

# Environment variables
.env

# Build directory
/dist

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional IDE / editor files
.idea/
.vscode/
*.swp
*.swo
